In [1]:
#data handling libraries

import pandas as pd
import numpy as np

#data preprocessing libraries

from sklearn.preprocessing import LabelEncoder

#data train,test libraries

from sklearn.model_selection import train_test_split

#Machine learning Algorithm

from sklearn.tree import DecisionTreeClassifier

#Model Evaluation Libraries

from sklearn.metrics import accuracy_score

In [2]:
#loading dataframe

df=pd.read_excel("ktm1.xlsx")

In [3]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,2,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,3,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,4,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,5,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [4]:
#droping off the id column,which is irrelevent

df.drop("ID",axis=1,inplace=True)

In [5]:
df.head()

,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,29,Male,Student,Average,180 to 220,Complicated,Purchased

# Label Encoding The Categorical Columns

In [6]:
le = LabelEncoder()

In [7]:
df["Gender"]=le.fit_transform(df["Gender"])

In [8]:
df.head()

,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,53,1,Professional,Average,180 to 220,Complicated,Not purchased
1,27,0,Self Employed,Low End,No Bike,Single,Purchased
2,39,0,Unemployed,Average,180 to 220,Married,Not purchased
3,20,0,Unemployed,High End,No Bike,Married,Not purchased
4,29,1,Student,Average,180 to 220,Complicated,Purchased

In [9]:
df.Occupation.value_counts()

Student          686
Self Employed    295
Unemployed       274
Professional     263
Name: Occupation, dtype: int64

In [10]:
df["Occupation"]=le.fit_transform(df["Occupation"])

In [11]:
df["Phone Type"]=le.fit_transform(df["Phone Type"])

In [12]:
df["Current Bike"]=le.fit_transform(df["Current Bike"])

In [13]:
df["Relationship"]=le.fit_transform(df["Relationship"])

In [14]:
df["Response"]=le.fit_transform(df["Response"])

In [15]:
df.head()

   Age  Gender  Occupation  Phone Type  Current Bike  Relationship  Response
0   53       1           0           0             1             1         0
1   27       0           1           2             4             3         1
2   39       0           3           0             1             2         0
3   20       0           3           1             4             2         0
4   29       1           2           0             1             1         1

In [16]:
df.Occupation.value_counts()

2    686
1    295
3    274
0    263
Name: Occupation, dtype: int64

In [17]:
# checking for null or na values

df.isnull().sum()

Age             0
Gender          0
Occupation      0
Phone Type      0
Current Bike    0
Relationship    0
Response        0
dtype: int64

In [18]:
df.isna().sum()

Age             0
Gender          0
Occupation      0
Phone Type      0
Current Bike    0
Relationship    0
Response        0
dtype: int64

In [19]:
df.describe()

,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
count,1518.000000,1518.000000,1518.000000,1518.000000,1518.000000,1518.000000,1518.000000
mean,32.731225,0.462451,1.639657,1.002635,1.816864,1.633729,0.574440
std,13.258555,0.498752,0.968826,0.670496,1.410267,1.146590,0.494591
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
50%,28.000000,0.000000,2.000000,1.000000,2.000000,2.000000,1.000000
75%,44.000000,1.000000,2.000000,1.000000,3.000000,3.000000,1.000000
max,60.000000,1.000000,3.000000,2.000000,4.000000,3.000000,1.000000

In [20]:
x=df.drop("Response",axis=1)             #collecting all the independent features

In [21]:
x.head()

   Age  Gender  Occupation  Phone Type  Current Bike  Relationship
0   53       1           0           0             1             1
1   27       0           1           2             4             3
2   39       0           3           0             1             2
3   20       0           3           1             4             2
4   29       1           2           0             1             1

In [22]:
y=df[["Response"]]                     #collecting the dependent feature

In [23]:
y

      Response
0            0
1            1
2            0
3            0
4            1
...        ...
1513         1
1514         1
1515         1
1516         1
1517         1

[1518 rows x 1 columns]

# Train and Test split

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=50)

In [25]:
x_train

      Age  Gender  Occupation  Phone Type  Current Bike  Relationship
93     46       1           1           2             2             2
966    40       1           1           1             4             1
765    55       1           0           2             0             0
785    56       1           2           0             0             3
1419   18       1           2           1             4             1
...   ...     ...         ...         ...           ...           ...
70     18       0           1           1             0             3
132    57       0           3           2             4             2
1313   18       1           2           1             1             0
109    31       1           0           0             3             2
1504   18       1           2           1             1             3

[1062 rows x 6 columns]

In [26]:
x_test

      Age  Gender  Occupation  Phone Type  Current Bike  Relationship
1253   22       0           2           1             1             3
233    37       1           3           0             1             2
1436   18       1           2           1             3             2
910    54       0           0           2             1             2
21     19       1           3           1             3             0
...   ...     ...         ...         ...           ...           ...
1318   19       1           2           1             0             0
770    52       1           0           2             0             2
1372   24       0           2           1             1             2
498    41       1           0           0             4             2
861    51       1           1           0             0             3

[456 rows x 6 columns]

In [27]:
y_train

      Response
93           1
966          0
765          0
785          0
1419         1
...        ...
70           0
132          0
1313         1
109          0
1504         1

[1062 rows x 1 columns]

In [28]:
y_test

      Response
1253         1
233          0
1436         1
910          0
21           0
...        ...
1318         1
770          0
1372         1
498          1
861          1

[456 rows x 1 columns]

# Model Building

In [29]:
dt = DecisionTreeClassifier()

In [30]:
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [31]:
dt_pred=dt.predict(x_test)

# Model Evaluation

In [32]:
accuracy_score(y_test,dt_pred)

0.7675438596491229

In [33]:
dt_pred1=dt.predict(x_train)

In [34]:
accuracy_score(y_train,dt_pred1)

0.995291902071563

### Implementing Stratified K-fold cross validation

In [35]:
from sklearn.model_selection import StratifiedKFold

In [36]:
accuracy = []

In [37]:
stf=StratifiedKFold(n_splits=10,random_state=100,shuffle=True)

In [38]:
stf.get_n_splits(x,y)

10

In [39]:
for train_index,test_index in stf.split(x,y):
    print('train',train_index,'test',test_index)
    x1_train,x1_test=x.iloc[train_index],x.iloc[test_index]
    y1_train,y1_test=y.iloc[train_index],y.iloc[test_index]
    dt.fit(x1_train,y1_train)
    y_pred=dt.predict(x1_test)
    acc=accuracy_score(y1_test,y_pred)
    accuracy.append(acc)

train [   0    1    2 ... 1515 1516 1517] test [   8   23   40   44   57   81   89  105  108  124  129  139  146  150
  157  171  180  183  193  204  211  212  214  259  265  279  286  290
  299  301  313  318  319  321  335  369  370  371  383  388  389  394
  398  408  413  438  443  464  466  478  488  495  507  509  528  544
  565  572  573  584  585  604  614  631  632  655  664  690  694  725
  738  751  775  817  819  820  827  834  843  849  851  870  873  878
  909  910  916  921  930  931  938  939  946  956  962  968  971  974
  995 1007 1010 1022 1027 1044 1060 1061 1075 1078 1089 1090 1091 1132
 1140 1152 1174 1186 1187 1193 1194 1214 1215 1236 1243 1244 1246 1250
 1271 1281 1283 1287 1293 1299 1309 1310 1342 1347 1349 1360 1394 1401
 1408 1414 1416 1434 1435 1445 1462 1471 1473 1489 1495 1508]
train [   0    1    2 ... 1515 1516 1517] test [   4    7   42   51   62   68   70   73   77   94  102  109  119  120
  123  130  131  136  141  166  190  196  207  217  266  284  285  291
  317  324  328  341  344  347  351  356  357  376  379  381  382  400
  406  410  416  429  435  481  483  489  502  514  518  523  524  525
  540  541  571  580  605  637  652  656  672  676  678  682  683  684
  712  715  729  731  742  764  767  774  785  791  797  823  840  846
  847  855  872  876  897  900  901  902  906  935  965  976  983  985
  997 1016 1020 1023 1029 1034 1039 1063 1067 1071 1072 1073 1080 1082
 1086 1102 1116 1125 1131 1134 1137 1147 1158 1160 1161 1167 1168 1169
 1184 1208 1217 1230 1232 1237 1238 1260 1266 1290 1291 1324 1337 1338
 1374 1376 1403 1404 1413 1427 1443 1455 1470 1474 1493 1512]
train [   1    2    3 ... 1514 1515 1516] test [   0   12   19   20   24   37   49   72   99  127  132  140  145  161
  163  181  188  201  202  206  222  224  232  235  239  247  273  280
  281  288  298  305  307  308  320  323  332  385  386  407  411  417
  422  423  437  440  442  446  456  468  471  506  533  542  587  592
  600  602  649  653  662  689  699  703  706  739  744  745  747  754
  760  761  778  779  802  805  812  814  815  826  831  842  852  859
  869  903  911  912  924  927  945  948  955  967  972  980 1000 1035
 1036 1047 1051 1064 1065 1066 1079 1087 1105 1106 1107 1113 1115 1118
 1120 1172 1188 1209 1226 1229 1242 1247 1253 1264 1273 1286 1292 1296
 1300 1315 1326 1327 1329 1332 1354 1356 1367 1373 1383 1384 1387 1396
 1397 1398 1402 1469 1480 1483 1487 1494 1504 1509 1511 1517]
train [   0    2    3 ... 1514 1515 1517] test [   1   15   22   25   26   41   47   61   67   83  100  101  103  113
  133  152  164  170  174  178  219  226  228  236  238  240  241  246
  248  256  267  287  294  309  311  314  326  342  363  372  380  405
  412  424  454  465  475  476  477  482  485  486  493  508  512  519
  520  526  537  539  546  548  557  576  579  586  625  644  679  688
  709  711  727  730  734  735  741  757  771  794  800  801  818  836
  844  845  864  877  882  889  890  892  908  915  919  922  928  953
  984  989 1008 1011 1019 1021 1028 1068 1069 1074 1085 1088 1093 1095
 1112 1114 1124 1128 1136 1162 1200 1222 1228 1269 1272 1288 1297 1314
 1318 1319 1322 1325 1334 1340 1341 1344 1348 1350 1364 1390 1405 1406
 1426 1429 1442 1450 1453 1457 1468 1476 1477 1478 1496 1516]
train [   0    1    2 ... 1514 1516 1517] test [   6   13   18   29   30   38   45   54   79   84   87   88   91   96
  111  125  134  137  142  158  162  172  177  182  191  205  216  229
  268  269  270  271  274  289  300  333  339  340  359  362  368  373
  391  414  420  434  439  441  455  457  463  500  503  504  511  530
  563  593  594  603  606  607  609  612  624  626  641  646  661  663
  665  667  668  680  696  697  698  713  720  733  746  753  762  765
  766  768  780  784  796  810  816  835  865  867  874  894  898  942
  947  949  952  954  966  988  990 1001 1014 1026 1033 1040 1049 1083
 1096 1103 1110 1119 1127 1151 1153 1164 1202 1212 1227 1231 1233 1241
 1245 1251 1259 1316 1317 1343 1352 1353 1357 1358 1377 1378 1382 1392
 1395 1399 1400 1419 1422 1437 1467 1479 1500 1506 1513 1515]
train [   0    1    2 ... 1515 1516 1517] test [   3   11   27   34   39   50   58   66   69   76   85   93  107  110
  112  115  160  165  179  184  185  189  192  197  198  215  220  230
  249  258  276  278  302  315  329  338  346  348  374  395  397  418
  450  452  462  473  491  505  516  535  536  550  553  559  564  567
  574  575  588  595  608  617  621  633  639  647  651  670  677  681
  700  704  722  723  726  728  740  743  758  769  777  782  787  795
  821  828  832  833  837  862  868  904  925  933  950  963  975  982
  996 1002 1005 1006 1053 1057 1062 1094 1097 1101 1142 1143 1146 1148
 1150 1157 1163 1183 1189 1192 1203 1205 1211 1223 1239 1252 1254 1256
 1262 1268 1274 1295 1305 1336 1345 1355 1363 1371 1372 1381 1385 1407
 1409 1417 1420 1423 1439 1440 1464 1492 1497 1502 1505 1510]
train [   0    1    2 ... 1515 1516 1517] test [  16   31   53   60   75   78   95  116  126  154  156  195  200  221
  231  251  254  257  263  293  296  297  304  306  312  325  327  336
  353  361  365  367  387  409  415  427  444  458  474  480  490  496
  498  499  531  532  543  554  562  566  568  570  582  590  597  598
  627  634  642  650  658  673  692  702  707  737  759  790  803  808
  824  825  830  838  853  854  856  860  863  875  879  884  885  887
  888  893  896  899  920  943  944  957  969  970  979  981  994 1003
 1013 1017 1037 1041 1055 1084 1098 1099 1104 1108 1109 1111 1117 1121
 1123 1144 1145 1156 1173 1175 1190 1191 1196 1199 1201 1207 1210 1220
 1235 1279 1280 1282 1301 1308 1313 1321 1323 1359 1375 1380 1388 1410
 1415 1447 1452 1458 1465 1466 1472 1481 1486 1498 1499 1503]
train [   0    1    2 ... 1515 1516 1517] test [  14   36   59   65   80   86   90   92   97  106  138  143  144  153
  159  168  169  173  208  213  218  223  225  243  260  264  272  275
  292  295  310  316  343  355  390  399  401  402  419  431  433  445
  448  453  460  479  497  501  510  513  534  551  552  558  560  589
  591  596  599  610  611  619  622  623  630  635  636  638  640  657
  660  686  693  705  708  714  717  718  719  752  763  773  781  783
  788  806  811  841  848  857  866  871  881  886  891  913  914  918
  926  932  934  936  951  960  964  986 1024 1043 1046 1058 1059 1076
 1122 1133 1135 1149 1154 1166 1179 1180 1182 1185 1204 1216 1219 1261
 1270 1275 1276 1284 1289 1298 1311 1328 1333 1339 1368 1369 1389 1391
 1411 1412 1421 1428 1438 1444 1448 1449 1451 1456 1482 1488]
train [   0    1    3 ... 1515 1516 1517] test [   2    5    9   10   21   28   33   43   46   48   52   64   74   98
  104  114  121  122  128  148  151  167  175  176  187  194  199  203
  209  233  237  244  252  253  255  277  282  330  334  345  350  358
  364  375  377  392  393  404  426  428  430  447  449  467  469  484
  492  517  521  522  529  545  547  549  555  561  569  578  583  615
  616  620  643  654  669  671  685  695  716  721  724  732  736  749
  776  792  809  813  839  850  883  895  929  940  958  959  987  991
  992  993  998  999 1009 1012 1015 1030 1032 1038 1045 1048 1052 1054
 1077 1081 1092 1100 1129 1130 1170 1171 1176 1177 1198 1224 1225 1234
 1240 1249 1258 1265 1267 1278 1294 1306 1320 1351 1365 1366 1370 1379
 1393 1418 1424 1431 1432 1433 1436 1461 1475 1485 1490]
train [   0    1    2 ... 1515 1516 1517] test [  17   32   35   55   56   63   71   82  117  118  135  147  149  155
  186  210  227  234  242  245  250  261  262  283  303  322  331  337
  349  352  354  360  366  378  384  396  403  421  425  432  436  451
  459  461  470  472  487  494  515  527  538  556  577  581  601  613
  618  628  629  645  648  659  666  674  675  687  691  701  710  748
  750  755  756  770  772  786  789  793  798  799  804  807  822  829
  858  861  880  905  907  917  923  937  941  961  973  977  978 1004
 1018 1025 1031 1042 1050 1056 1070 1126 1138 1139 1141 1155 1159 1165
 1178 1181 1195 1197 1206 1213 1218 1221 1248 1255 1257 1263 1277 1285
 1302 1303 1304 1307 1312 1330 1331 1335 1346 1361 1362 1386 1425 1430
 1441 1446 1454 1459 1460 1463 1484 1491 1501 1507 1514]

In [40]:
print(accuracy)

[0.75, 0.7828947368421053, 0.8223684210526315, 0.75, 0.7171052631578947, 0.8026315789473685, 0.6973684210526315, 0.7171052631578947, 0.7218543046357616, 0.7814569536423841]

In [41]:
np.mean(accuracy)

0.7542784942488672

### Hyper Parameter tunning Gridserch CV

In [42]:
dt_tune=DecisionTreeClassifier(criterion='gini',splitter='random')

In [43]:
param_dt={'criterion':['gini', 'entropy'],'splitter':['best', 'random']}

In [44]:
from sklearn.model_selection import GridSearchCV

In [45]:
model=GridSearchCV(dt_tune,param_dt,cv=10)

In [46]:
model.fit(x,y)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(splitter='random'),
             param_grid={'criterion': ['gini', 'entropy'],
                         'splitter': ['best', 'random']})

In [47]:
model.best_params_

{'criterion': 'gini', 'splitter': 'best'}

In [48]:
for train_index,test_index in stf.split(x,y):
  print('train',train_index,'test',test_index)
  x1_train,x1_test=x.iloc[train_index],x.iloc[test_index]
  y1_train,y1_test=y.iloc[train_index],y.iloc[test_index]
  dt_tune.fit(x1_train,y1_train)
  y_pred=dt.predict(x1_test)
  acc=accuracy_score(y1_test,y_pred)
  accuracy.append(acc)

train [   0    1    2 ... 1515 1516 1517] test [   8   23   40   44   57   81   89  105  108  124  129  139  146  150
  157  171  180  183  193  204  211  212  214  259  265  279  286  290
  299  301  313  318  319  321  335  369  370  371  383  388  389  394
  398  408  413  438  443  464  466  478  488  495  507  509  528  544
  565  572  573  584  585  604  614  631  632  655  664  690  694  725
  738  751  775  817  819  820  827  834  843  849  851  870  873  878
  909  910  916  921  930  931  938  939  946  956  962  968  971  974
  995 1007 1010 1022 1027 1044 1060 1061 1075 1078 1089 1090 1091 1132
 1140 1152 1174 1186 1187 1193 1194 1214 1215 1236 1243 1244 1246 1250
 1271 1281 1283 1287 1293 1299 1309 1310 1342 1347 1349 1360 1394 1401
 1408 1414 1416 1434 1435 1445 1462 1471 1473 1489 1495 1508]
train [   0    1    2 ... 1515 1516 1517] test [   4    7   42   51   62   68   70   73   77   94  102  109  119  120
  123  130  131  136  141  166  190  196  207  217  266  284  285  291
  317  324  328  341  344  347  351  356  357  376  379  381  382  400
  406  410  416  429  435  481  483  489  502  514  518  523  524  525
  540  541  571  580  605  637  652  656  672  676  678  682  683  684
  712  715  729  731  742  764  767  774  785  791  797  823  840  846
  847  855  872  876  897  900  901  902  906  935  965  976  983  985
  997 1016 1020 1023 1029 1034 1039 1063 1067 1071 1072 1073 1080 1082
 1086 1102 1116 1125 1131 1134 1137 1147 1158 1160 1161 1167 1168 1169
 1184 1208 1217 1230 1232 1237 1238 1260 1266 1290 1291 1324 1337 1338
 1374 1376 1403 1404 1413 1427 1443 1455 1470 1474 1493 1512]
train [   1    2    3 ... 1514 1515 1516] test [   0   12   19   20   24   37   49   72   99  127  132  140  145  161
  163  181  188  201  202  206  222  224  232  235  239  247  273  280
  281  288  298  305  307  308  320  323  332  385  386  407  411  417
  422  423  437  440  442  446  456  468  471  506  533  542  587  592
  600  602  649  653  662  689  699  703  706  739  744  745  747  754
  760  761  778  779  802  805  812  814  815  826  831  842  852  859
  869  903  911  912  924  927  945  948  955  967  972  980 1000 1035
 1036 1047 1051 1064 1065 1066 1079 1087 1105 1106 1107 1113 1115 1118
 1120 1172 1188 1209 1226 1229 1242 1247 1253 1264 1273 1286 1292 1296
 1300 1315 1326 1327 1329 1332 1354 1356 1367 1373 1383 1384 1387 1396
 1397 1398 1402 1469 1480 1483 1487 1494 1504 1509 1511 1517]
train [   0    2    3 ... 1514 1515 1517] test [   1   15   22   25   26   41   47   61   67   83  100  101  103  113
  133  152  164  170  174  178  219  226  228  236  238  240  241  246
  248  256  267  287  294  309  311  314  326  342  363  372  380  405
  412  424  454  465  475  476  477  482  485  486  493  508  512  519
  520  526  537  539  546  548  557  576  579  586  625  644  679  688
  709  711  727  730  734  735  741  757  771  794  800  801  818  836
  844  845  864  877  882  889  890  892  908  915  919  922  928  953
  984  989 1008 1011 1019 1021 1028 1068 1069 1074 1085 1088 1093 1095
 1112 1114 1124 1128 1136 1162 1200 1222 1228 1269 1272 1288 1297 1314
 1318 1319 1322 1325 1334 1340 1341 1344 1348 1350 1364 1390 1405 1406
 1426 1429 1442 1450 1453 1457 1468 1476 1477 1478 1496 1516]
train [   0    1    2 ... 1514 1516 1517] test [   6   13   18   29   30   38   45   54   79   84   87   88   91   96
  111  125  134  137  142  158  162  172  177  182  191  205  216  229
  268  269  270  271  274  289  300  333  339  340  359  362  368  373
  391  414  420  434  439  441  455  457  463  500  503  504  511  530
  563  593  594  603  606  607  609  612  624  626  641  646  661  663
  665  667  668  680  696  697  698  713  720  733  746  753  762  765
  766  768  780  784  796  810  816  835  865  867  874  894  898  942
  947  949  952  954  966  988  990 1001 1014 1026 1033 1040 1049 1083
 1096 1103 1110 1119 1127 1151 1153 1164 1202 1212 1227 1231 1233 1241
 1245 1251 1259 1316 1317 1343 1352 1353 1357 1358 1377 1378 1382 1392
 1395 1399 1400 1419 1422 1437 1467 1479 1500 1506 1513 1515]
train [   0    1    2 ... 1515 1516 1517] test [   3   11   27   34   39   50   58   66   69   76   85   93  107  110
  112  115  160  165  179  184  185  189  192  197  198  215  220  230
  249  258  276  278  302  315  329  338  346  348  374  395  397  418
  450  452  462  473  491  505  516  535  536  550  553  559  564  567
  574  575  588  595  608  617  621  633  639  647  651  670  677  681
  700  704  722  723  726  728  740  743  758  769  777  782  787  795
  821  828  832  833  837  862  868  904  925  933  950  963  975  982
  996 1002 1005 1006 1053 1057 1062 1094 1097 1101 1142 1143 1146 1148
 1150 1157 1163 1183 1189 1192 1203 1205 1211 1223 1239 1252 1254 1256
 1262 1268 1274 1295 1305 1336 1345 1355 1363 1371 1372 1381 1385 1407
 1409 1417 1420 1423 1439 1440 1464 1492 1497 1502 1505 1510]
train [   0    1    2 ... 1515 1516 1517] test [  16   31   53   60   75   78   95  116  126  154  156  195  200  221
  231  251  254  257  263  293  296  297  304  306  312  325  327  336
  353  361  365  367  387  409  415  427  444  458  474  480  490  496
  498  499  531  532  543  554  562  566  568  570  582  590  597  598
  627  634  642  650  658  673  692  702  707  737  759  790  803  808
  824  825  830  838  853  854  856  860  863  875  879  884  885  887
  888  893  896  899  920  943  944  957  969  970  979  981  994 1003
 1013 1017 1037 1041 1055 1084 1098 1099 1104 1108 1109 1111 1117 1121
 1123 1144 1145 1156 1173 1175 1190 1191 1196 1199 1201 1207 1210 1220
 1235 1279 1280 1282 1301 1308 1313 1321 1323 1359 1375 1380 1388 1410
 1415 1447 1452 1458 1465 1466 1472 1481 1486 1498 1499 1503]
train [   0    1    2 ... 1515 1516 1517] test [  14   36   59   65   80   86   90   92   97  106  138  143  144  153
  159  168  169  173  208  213  218  223  225  243  260  264  272  275
  292  295  310  316  343  355  390  399  401  402  419  431  433  445
  448  453  460  479  497  501  510  513  534  551  552  558  560  589
  591  596  599  610  611  619  622  623  630  635  636  638  640  657
  660  686  693  705  708  714  717  718  719  752  763  773  781  783
  788  806  811  841  848  857  866  871  881  886  891  913  914  918
  926  932  934  936  951  960  964  986 1024 1043 1046 1058 1059 1076
 1122 1133 1135 1149 1154 1166 1179 1180 1182 1185 1204 1216 1219 1261
 1270 1275 1276 1284 1289 1298 1311 1328 1333 1339 1368 1369 1389 1391
 1411 1412 1421 1428 1438 1444 1448 1449 1451 1456 1482 1488]
train [   0    1    3 ... 1515 1516 1517] test [   2    5    9   10   21   28   33   43   46   48   52   64   74   98
  104  114  121  122  128  148  151  167  175  176  187  194  199  203
  209  233  237  244  252  253  255  277  282  330  334  345  350  358
  364  375  377  392  393  404  426  428  430  447  449  467  469  484
  492  517  521  522  529  545  547  549  555  561  569  578  583  615
  616  620  643  654  669  671  685  695  716  721  724  732  736  749
  776  792  809  813  839  850  883  895  929  940  958  959  987  991
  992  993  998  999 1009 1012 1015 1030 1032 1038 1045 1048 1052 1054
 1077 1081 1092 1100 1129 1130 1170 1171 1176 1177 1198 1224 1225 1234
 1240 1249 1258 1265 1267 1278 1294 1306 1320 1351 1365 1366 1370 1379
 1393 1418 1424 1431 1432 1433 1436 1461 1475 1485 1490]
train [   0    1    2 ... 1515 1516 1517] test [  17   32   35   55   56   63   71   82  117  118  135  147  149  155
  186  210  227  234  242  245  250  261  262  283  303  322  331  337
  349  352  354  360  366  378  384  396  403  421  425  432  436  451
  459  461  470  472  487  494  515  527  538  556  577  581  601  613
  618  628  629  645  648  659  666  674  675  687  691  701  710  748
  750  755  756  770  772  786  789  793  798  799  804  807  822  829
  858  861  880  905  907  917  923  937  941  961  973  977  978 1004
 1018 1025 1031 1042 1050 1056 1070 1126 1138 1139 1141 1155 1159 1165
 1178 1181 1195 1197 1206 1213 1218 1221 1248 1255 1257 1263 1277 1285
 1302 1303 1304 1307 1312 1330 1331 1335 1346 1361 1362 1386 1425 1430
 1441 1446 1454 1459 1460 1463 1484 1491 1501 1507 1514]

In [49]:
print(accuracy)

[0.75, 0.7828947368421053, 0.8223684210526315, 0.75, 0.7171052631578947, 0.8026315789473685, 0.6973684210526315, 0.7171052631578947, 0.7218543046357616, 0.7814569536423841, 0.9802631578947368, 0.993421052631579, 1.0, 1.0, 0.993421052631579, 1.0, 1.0, 0.9868421052631579, 1.0, 0.7814569536423841]

In [50]:
np.mean(accuracy)

0.8639094632276054